.bellota-light {
  font-family: "Bellota", system-ui;
  font-weight: 300;
  font-style: normal;
}

.baloo-bhaijaan-2-<uniquifier> {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  margin: auto;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  background: #e8e5dd;
  color: #333;
}

.container {
  padding: 3rem;
  max-width: 80%;
  margin: auto;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-box {
  background: #ffffff;
  padding: 24px 36px;
  border-radius: 16px;
  font-family: "Bellota", system-ui;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.blink {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.4; }
}


h1 {
  font-family: "Bellota", system-ui;
  font-size: 3.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  color: #A47864;
}

.status-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}

.status-box {
  flex: 1;
  padding: 3rem;
  border-radius: 20px;
  background: #b28f7e;
  color: white;
  text-align: center;
  position: relative;
}

#cat-bed {
  background: #D390CE;
}

#food-bowl {
  background: #F5AB54;
}

#window {
  background: #60D1DB;
}

.status-box.active {
  outline: 8px solid #ffffff;
}

.status-box .icon {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.dropdown-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.dropdown-wrapper select,
.dropdown-button {
  padding: 0.5rem 0.75rem;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 0.95rem;
  background-color: #f0ede7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dropdown-button:hover,
.dropdown-wrapper select:hover {
  background-color: #e3ded7;
}

.log-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.log-box {
  background: #f7f7f0;
  padding: 1rem;
  border-radius: 20px;
  min-height: 150px;
}

.log-box h3 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: #A47864;;
}

h2{
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: white;
}

.log-content {
  margin-top: 1rem;
  min-height: 80px;
}

.status-box p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}

/* Lighter colored labels */
.status-box p .label {
  color: #ded9d3;
  font-size: 0.75rem;
  font-weight: normal;
}
