.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.marvel-regular {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marvel-regular-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marvel-bold-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
  margin: auto;
  font-family: "Marvel", sans-serif;
  background: #e8e5dd;
  color: #333;
}

.container {
  padding: 3rem;
  max-width: 80%;
  margin: auto;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 241, 236, 0.8); /* light translucent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* hidden by default */
}

.loading-box {
  background-color: #fff;
  color: #333;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 1.5rem;
  font-family: 'Petit Formal Script', cursive;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Petit Formal Script", cursive;
  font-size: 2.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.status-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.status-box {
  flex: 1;
  padding: 1rem;
  border-radius: 20px;
  background: #b28f7e;
  color: white;
  text-align: center;
  position: relative;
}

#cat-bed {
  background: #8a7b9f;
}

#window {
  background: #6d948a;
}

.status-box.active {
  outline: 6px solid #ffffff;
}

.status-box .icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.dropdown-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.dropdown-wrapper select,
.dropdown-button {
  padding: 0.5rem 0.75rem;
  font-family: "Marvel", sans-serif;
  font-size: 0.95rem;
  background-color: #f0ede7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.dropdown-button:hover,
.dropdown-wrapper select:hover {
  background-color: #e3ded7;
}

.log-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.log-box {
  background: #f7f7f0;
  padding: 1rem;
  border-radius: 20px;
  min-height: 150px;
}

.log-box h3 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Marvel", sans-serif;
  color: #444;
}

h2{
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Marvel", sans-serif;
  color: white;
}

.log-content {
  margin-top: 1rem;
  min-height: 80px;
}

.status-box p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}

/* Lighter colored labels */
.status-box p .label {
  color: #ded9d3;
  font-size: 0.75rem;
  font-weight: normal;
}
